@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #1cefff, #04bc89a3);     
    font-family: 'Cutive Mono', monospace;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopwatch{
    border-radius: 30px;
    color: white;
    background-color: #005d55;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stopwatch .title{
    font-size: 4em;
    font-weight: bold;
    font-family: 'Zilla Slab', serif;
}

.stopwatch .numbers{
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatch .numbers .separator{
    margin: 0 3px;
    font-weight: bold;
}

.stopwatch .numbers .separator-ms,
.stopwatch .numbers .milliseconds{
    font-size: .5em;
}

.stopwatch .buttons button{
    border: none;
    outline: none;
    color: white;
    font-family: 'Zilla Slab', serif;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1em;
    width: 120px;
    height: 40px;
    margin-right: 10px;
}

.stopwatch .buttons .start-btn,
.stopwatch .buttons .resume-btn{
    background-color: rgb(14, 157, 14);
}

.stopwatch .buttons .start-btn:hover,
.stopwatch .buttons .resume-btn:hover{
    background-color: rgb(9, 104, 9);
    cursor: pointer;
}

.stopwatch .buttons .reset-btn,
.stopwatch .buttons .stop-btn{
    background-color: rgb(201, 14, 14);
}

.stopwatch .buttons .reset-btn:hover,
.stopwatch .buttons .stop-btn:hover{
    background-color: rgb(120, 7, 7);
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .stopwatch{
        width: 500px;
        padding: 10px;
    }

    .stopwatch .numbers{
        font-size: 4em
    }
}

@media only screen and (max-width: 500px){
    .stopwatch{
        width: 320px;
        height: 600px;
    }

    .stopwatch .title{
        font-size: 3em
    }

    .stopwatch .numbers{
        font-size: 2.8em;
    }
}
